[% FOR group IN gitosis.groups %]
<h2>[% group.name %]</h2>
<ul>
    <li>repo:
    [% FOR repo IN group.writable %]
       <a href="[% c.uri_for('/repo', repo) %]">[% repo %]</a>
    [% END %]
    <span>[add]</span> <span>[del]</span>
    </li>
    <li>members:        
        [% FOR member IN group.members %]
        <a href="[% c.uri_for('/member', member) %]">[% member %]</a>
        [% END %]        
         <span>[add]</span> <span>[del]</span>
        </li>
</ul>
[% END %]