<form action="[% c.uri_for('/login') %]" method="GET" name="openid">
      <input name="openid_url" type="text" class="input_text" id="openid_url" value=""/>
      <input type="submit" id="submit" name="submit" class="submit" value="OpenID"/>
</form>