[% USE Wrap %]

<form action="[% c.uri_for('/member') %]" method="POST">
[% IF member.name %]
    <h2>[% member.name %]</h2>
[% ELSE %]
<div style="margin-bottom: 1em"><input type="text" style="font-size: 14pt" name="member.name" style="width: 80ex" value="[% member.name %]"/></div>
[% END %]

<textarea class="edit_area" style="width: 80ex" name="member.key">[% member.key %]</textarea>
<br><input type="submit">
</form>