/*******************
 ** Global styles **
 *******************/
* {
    margin: 0px;
    padding: 0px;
}
body {
    line-height: 1.25;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #000000;
    font-size:10pt;
}

#PageWrapper {
    margin: 0px auto;
    width: 90%;
    background: transparent url(/static/images/header_scale.gif) repeat-x top left;
}

/*******************
 ** Header styles **
 *******************/
#PageHeader {
    height: 70px;
    background-color: #f0f0f0;
    border-top: 3px solid #527dff;
    padding-left: 12px;
}
#PageHeader a,
#PageHeader a:link,
#PageHeader a:active,
#PageHeader a:visited,
#PageHeader a:hover {
    text-decoration: none;
    color: #000000;
}
#PageHeader a:hover {
    text-decoration: underline;
}

#PageHeader ul,
#PageHeader li {
    margin: 0px;
    padding: 0px;
    display: inline;
    list-style: none;
}

#LoginBar {
    float: right;
    background-color: #527dff;
    -moz-border-radius-bottomleft: 8px;
    -moz-border-radius-bottomright: 8px;
    -webkit-border-bottom-left-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
    border-radius-bottomleft: 8px;
    border-radius-bottomright: 8px;
}
.borderBL {
    float: left;
    display: relative;
    background-image: url(/static/images/corners.gif);
    background-repeat: no-repeat;
    height: 10px;
    width: 8px;
}
.borderBR {
    float: right;
    display: relative;
    background-image: url(/static/images/corners.gif);
    background-repeat: no-repeat;
    height: 10px;
    width: 8px;
}
#LoginBar .borderBL {
    background-position: 0px 0px;
    margin-top: 11px;
}
#LoginBar .borderBR {
    background-position: -10px 0px;
    margin-top: -5px;
}
#LoginBar li {
    margin-left: 8px;
}
#LoginBar .account_left {
    margin-left: 16px;
    margin-right: 0px;
    padding-left: 6px;
    padding-right: 3px;
    background-color: #ffc414;
    border-top: 2px outset #ffc414;
    border-bottom: 2px outset #ffc414;
    border-left: 2px outset #ffc414;
    -moz-border-radius-topleft: 8px;
    -moz-border-radius-bottomleft: 8px;
    -webkit-border-top-left-radius: 8px;
    -webkit-border-bottom-left-radius: 8px;
    border-radius-topleft: 8px;
    border-radius-bottomleft: 8px;
}
#LoginBar .account_right {
    margin-left: 0px;
    margin-right: 6px;
    padding-right: 6px;
    padding-left: 3px;
    background-color: #ffc414;
    border-top: 2px outset #ffc414;
    border-bottom: 2px outset #ffc414;
    border-right: 2px outset #ffc414;
    border-left: 1px solid #c79500;
    -moz-border-radius-topright: 8px;
    -moz-border-radius-bottomright: 8px;
    -webkit-border-top-right-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
    border-radius-topright: 8px;
    border-radius-bottomright: 8px;
}

#PageHeader h1,
#PageHeader h2 {
    clear: both;
    float: left;
}
#PageHeader h1 {
    margin-top: -18px;
}
#PageHeader h2 {
}

/*******************
 ** Footer styles **
 *******************/
#PageFooter {
    background-color: #ffd452;
    padding: 8px 6px 0px 6px;
    -moz-border-radius-bottomright: 8px;
    -moz-border-radius-bottomleft: 8px;
    -webkit-border-bottom-right-radius: 8px;
    -webkit-border-bottom-left-radius: 8px;
    border-radius-bottomright: 8px;
    border-radius-bottomleft: 8px;
}
#PageFooter .LeftColumn,
#PageFooter .MiddleColumn,
#PageFooter .RightColumn {
    width: 30%;
}
#PageFooter .LeftColumn {
    float: left;
}
#PageFooter .RightColumn {
    float: right;
    text-align: right;
}
#PageFooter .MiddleColumn {
    margin: 0px 33%;
    text-align: center;
}
#PageFooter .borderBL {
    background-position: 0px -10px;
    margin: 48px 0px 0px -6px;
}
#PageFooter .borderBR {
    background-position: -10px -10px;
    margin: -10px -6px 0px 0px;
}

#PageFooter a,
#PageFooter a:link,
#PageFooter a:active,
#PageFooter a:visited,
#PageFooter a:hover {
    text-decoration: none;
    color: #000000;
}
#PageFooter a:hover {
    text-decoration: underline;
}

#PageFooter ul,
#PageFooter li {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

#PageFooterHidebar {
    text-align: center;
    height: 10px;
    font-size: 8px;
    font-weight: bold;
    cursor: pointer;
}

/*************************
 ** Project Body styles **
 *************************/
#PageBody {
    background-color: #f0f0f0;
}
#PageBodyContent {
    border-top: 2px solid #c0c0c0;
    background-color: #dadada;
    padding: 8px;
}
#PageBody .NavigationBar {
    margin: 0px 16px;
    padding: 0px;
    height: 29px;
    color: #333333;
}
#PageBody ul.NavigationBar li {
    margin: 0px 8px;
    padding: 3px 6px 0px 6px;
    display: block;
    list-style: none;
    float: left;
    font-size: 18px;
    font-weight: bold;
    background-color: #c0c0c0;
    height: 26px;
    -moz-border-radius-topleft: 8px;
    -moz-border-radius-topright: 8px;
    -webkit-border-top-left-radius: 8px;
    -webkit-border-top-right-radius: 8px;
    border-radius-topleft: 8px;
    border-radius-topright: 8px;
    border-top: 2px solid #c0c0c0;
    border-left: 2px solid #c0c0c0;
    border-right: 2px solid #c0c0c0;
}
#PageBody ul.NavigationBar li.selected {
    background-color: #dadada;
}

#PageBody .NavigationBar a,
#PageBody .NavigationBar a:link,
#PageBody .NavigationBar a:active,
#PageBody .NavigationBar a:visited,
#PageBody .NavigationBar a:hover {
    color: #333333;
    text-decoration: none;
}

a.breadcrumb,
a.breadcrumb:link,
a.breadcrumb:active,
a.breadcrumb:visited,
a.breadcrumb:hover {
    color: #000000;
    text-decoration: none;
    font-size: 11px;
    height: 16px;
    line-height: 16px;
}

.icon {
    width: 18px;
    height: 16px;
    text-indent: -2000px;
    float: left;
}
.arrow_left {
    background: transparent url(/static/images/icons/arrow_left.png) no-repeat top left;
}
/****************************
 ** Root Index Body styles **
 ****************************/
#RootWelcomeContainer {
    height: 125px;
}
#RootWelcomeContainer .LeftBox,
#RootWelcomeContainer .RightBox {
    height: 115px;
    width: 45%;
    margin: auto;
    text-align: center;
}
#RootWelcomeContainer .LeftBox {
    float: left;
}
#RootWelcomeContainer .RightBox {
    float: right;
}

input {
    border: 1px solid #999999;
    padding: 3px 3px 4px;
    font: 11px "Lucida Grande", "Verdana"; 
}

a.BigButton,
a.BigButton:link,
a.BigButton:visited,
a.BigButton:active,
a.BigButton:hover {
    line-height: 50px;
    font-size: 20px;
    font-weight: bold;
    color: #f0f0f0;
    background-color: #144fff;
    padding: 6px;
    border: 3px outset #144fff;
    text-decoration: none;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
}

.buttons {
    height: 30px;
    padding: 4px;
    clear: both;
}
a.button, button {
    display: block;
    float: left;
    margin: 0 7px 0 0;
    background-color: #f5f5f5;
    border: 1px solid #dedede;
    border-top: 1px solid #999999;
    border-left: 1px solid #999999;

    font-family: "Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
    font-size: 100%;
    line-height: 130%;
    text-decoration: none;
    font-weight: bold;
    color: #565656;
    cursor: pointer;
    padding: 5px 10px 6px 7px; /* Links */
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
}
a.button:hover, button:hover {
    background-color: #ffffff;
}
.right a.button, .right button {
    float: right;
}
button {
    width: auto;
    overflow: visible;
    padding: 4px 10px 3px 7px; /* IE6 */
}
button[type] {
    padding: 5px 10px 5px 7px; /* Firefox */
    line-height: 17px; /* Safari */
}
body.Browser_IE7 button[type] {
    padding: 4px 10px 3px 7px; /* IE7 */
}
button img, a img {
    margin: 0 3px -3px 0 !important;
    padding: 0;
    border: none;
    width: 16px;
    height: 16px;
}

/*******************************
 ** Project Index Body styles **
 *******************************/
#ProjectList li,
#CurrentUsers li {
    list-style: none;
    width: 230px;
    float: left;
}
#ProjectList li .ProjectName,
#CurrentUsers li {
    font-size: 14px;
}
#ProjectList .ProjectRepos,
#ProjectList .ProjectUsers {
    display: inline;
}
.ListBottom {
    clear: both;
}
#CurrentUsers li {
    padding-left: 50px;
    background: transparent url(/static/images/account.png) no-repeat top left;
    height: 50px;
}
#UserList #AddNewUser,
#UserList #AddExistingUser {
    position: absolute;
    z-index: 10;
    right: 64px;
    width: inherit;
    margin: 0;
    background-color: #e7e7e7;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
}
.Float {
    padding-top: 4px !important;
    visibility: hidden;
}
.visible {
    visibility: visible !important;
}
.Float h3 {
    text-align: center;
    padding-bottom: 8px;
}
#AddExistingUser #existingName {
    width: 220px;
}

/********************************
 ** Project Create Body styles **
 ********************************/
#NewProject #name {
    width: 200px;
}
#NewProject #members {
    width: 400px;
}
#NewProject #writable {
    width: 400px;
}

/*************************
 ** Autocomplete Styles **
 *************************/
ul.autocompleter-choices {
    margin: 0;
    border: 1px solid #999;
    overflow: hidden;
    height: auto !important;
    height: 1%;
    background-color: #DEE7F8;
}
*:first-child+html ul.autocompleter-choices { padding-bottom: 2px; }
* html ul.autocompleter-choices { padding-bottom: 2px; } /* ie7 and below */

ul.autocompleter-choices li {
    list-style-type: none;
    padding: 0 5px 4px 0;
    font: 11px "Lucida Grande", "Verdana";
}
ul.autocompleter-choices li.autocompleter-selected {
    border-color: #598BEC;
    background: #598BEC;
    color: #fff;
}
ul.autocompleter-choices .autocompleter-queried {
    font-weight: bold;
    text-decoration: underline;
}
